.about-section
    padding 20px
    .icon
        max-width 500px
        width 100%
    .made-with
        @media (max-width mobile-breakpoint)
            flex-direction column
                
            & > * + *
                margin-left 0
                margin-top 40px
        display flex
        justify-content center
        & > *
            display block
            height 80px
        & > * + *
            margin-left 20px
        img
            height 100%