.about-section
    padding 20px
    .icon
        max-width 500px
        width 100%
    .made-with
        display flex
        justify-content center
        & > *
            display block
            height 80px
        & > * + *
            margin-left 20px
        img
            height 100%