button
    font-weight bold
    color #FFF
    background transparent
    width 100%
    padding 10px 0
    cursor pointer
    border 2px solid #FFF
    transition all 200ms ease-in-out
    &:hover
        background white
        color black
    &:disabled
        background white
        color black