button
    font-weight bold
    color #FFF
    background transparent
    padding 6px 20px
    cursor pointer
    border 2px solid #FFF
    transition all 200ms ease-in-out
    &:hover
        background white
        color black
    &:disabled
        background white
        color black