header-vertical-padding   = 15px
header-horizontal-padding = 30px
header-height             = 48px

header
    display         flex
    justify-content space-between
    height          header-height + (header-vertical-padding * 2)
    padding         0 header-horizontal-padding
    box-shadow      inset 0 -1px 0 0 #e5e5e5

    .logo
        line-height header-height
        font-size   20px
        font-weight bold
        padding     header-vertical-padding
    nav
        display         flex
        justify-content center
        align-items     center
        height          100%
        a
            text-transform uppercase
            padding        0 20px
            color          black
            font-weight    bold
            height         header-height + (header-vertical-padding * 2)
            line-height    header-height + (header-vertical-padding * 2)
        a:hover
            color         black
            border-bottom 2px solid black
    .cart
        display         flex
        justify-content center
        align-items     center
        img
            max-height header-height - (header-height / 3)