font-color            = #FFF
main-color            = #0F1956
accent-color          = #0C163A
player-background     = #14172B
second-accent-color   = #333
secondary-color       = #9D3154
washed-out-color      = rgba(255, 255, 255, 0.7)
sidenav-width         = 300px
mobile-breakpoint     = 800px
player-height         = 100px
card-hover-background = rgba(14, 26, 65, 0.6)

@import "reset.styl"
@import "sidenav.styl"

@import "search.styl"
@import "home.styl"
@import "changelog.styl"
@import "people.styl"
@import "playlist.styl"
@import "about.styl"
@import "chat.styl"

@import "player.styl"
@import "input.styl"
@import "button.styl"
@import "playlist-modal.styl"
    
@import "helpers.styl"

body
    background #060e4d;
    background -moz-linear-gradient(-45deg, #060e4d 0%, #223793 100%)
    background -webkit-linear-gradient(-45deg, #060e4d 0%, #223793 100%)
    background linear-gradient(135deg, #060e4d 0%, #223793 100%)
    color font-color

#root
    display flex
    width 100%
a
    text-decoration underline

.main
    width calc(100% - 300px)
    flex 1
    padding-top 16px
    margin-left sidenav-width
    @media (max-width mobile-breakpoint)
        margin-left 0
    padding-bottom player-height
    min-height 100vh
    .loader
        width 50px

.icon
    height 100%
    cursor pointer
    fill font-color
    transition fill 150ms ease-in-out
    &:not(.loader):hover
        fill secondary-color
.trackbar
    width 100%
    height trackbar-active-area
    position relative
    padding ((trackbar-active-area / 2) - (trackbar-height / 2)) 0
    overflow hidden
    .trackbar-background
        width 100%
        background trackbar-inactive-color
        height trackbar-height
    .trackbar-progress
        position absolute
        top ((trackbar-active-area / 2) - (trackbar-height / 2))
        background trackbar-active-color
        height trackbar-height


.textroller-outer
    display flex
    overflow hidden
    .textroller-item
        white-space nowrap


.notification-container
    position fixed
    z-index 130
    pointer-events none
    top 0
    right 0
    max-width 70vh
    padding 30px
    display flex
    flex-direction column-reverse
    align-items flex-end
    @media (max-width mobile-breakpoint)
        width 100%
        max-width 100%
        padding 10px
    .notification-outer
        display flex
        background player-background
        max-width 100%
        margin 8px 0
        padding 20px
        animation fade-in 200ms ease-in-out forwards
        font-size 14px
        box-shadow 0 10px 20px rgba(0,0,0,0.14), 0 6px 6px rgba(0,0,0,0.18)
        transition opacity 200ms ease-in-out
        &.fade-out
            opacity 0
        .notification-icon .icon
            margin-right 8px
            width 16px


*::-webkit-scrollbar
  width 4px
 
*::-webkit-scrollbar-thumb
  background: #ddd; 

*::-webkit-scrollbar-track
  background #162575

ul.change-log-version
    padding 0 0 0 24px
    list-style-type disc


@keyframes fade-in
    0%
        transform translateX(100px)
        opacity 0
    100%
        transform translateX(0)
        opacity 1
