person-row-padding = 20px
person-row-height = 80px + (person-row-padding * 2)

person-height = 92px

.people-section
    margin 10px
.person-outer
    height person-row-height
    padding person-row-padding
    @media (max-width mobile-breakpoint)
        padding (person-row-padding / 2)
    background transparent
    .person > *
        height 100%
    .person
        &:hover
            background rgba(14, 26, 65, 0.6)
        padding 20px
        transition background 200ms ease-in-out
        height person-height
        border-radius (person-height / 2)
        display flex
        .person-info
            font-size 14px
            .person-name
                font-size 16px
                font-weight bold
        .person-image img
            height 100%
            border-radius 50%
        .person-middle-outer
            flex 1
            margin 0 20px
            display flex
            flex-direction column
            justify-content space-around
        .person-actions
            margin-right 10px
            display flex
            align-items center
            .icon + .icon
                margin-left 14px
            .icon
                cursor pointer
                height 20px