video-border-radius = 16px

.search-grid
    margin 30px
    .video-outer
        padding 30px
        border-radius video-border-radius
        &:hover
            background card-hover-background
        .video
            cursor pointer
            position relative
            &:hover .video-floating-actions
                opacity 1
            .video-thumbnail-outer
                position relative
                img
                    display block
                    width 100%
                    border-radius video-border-radius
                .video-duration
                    position absolute
                    right 3px
                    bottom 3px
                    font-size 12px
                    padding 2px 5px
                    background rgba(0, 0, 0, 0.7)
            .video-title
                text-align center
                margin-top 10px
            .video-floating-actions
                position absolute
                top 0
                left 0
                background rgba(0, 0, 0, 0.7)
                z-index 10
                height 100%
                width 100%
                display flex
                opacity 0
                border-radius video-border-radius
                transition opacity 200ms ease-in-out
                justify-content center
                align-items center
                .icon
                    width 30px
                    height auto
                    &:nth-child(2)
                        width 46px
                        margin 0 10px
                div:last-child,
                div:first-child
                    width 30px