.settings-section
    padding 20px
    .heading
        margin-top 0
    .setting-item-description
        margin-top 10px
        font-size 14px
    .switch-container > *
        margin-right 20px
    .switch-container .loader
        height 24px